.cn-foraging-piece {
  @mixin type-sans {
    font-family: "Open Sans", sans-serif;
  }

  // inside narrative, style usernames + forum titles
  // excludes posts, DMs where <strong> is for usernames + headers
  > strong {
    @include type-sans;
    font-size: .95rem;
    letter-spacing: .2px;
    line-height: 1;
  }

  // inside narrative, style pauses
  hr {
    border: 0;
    margin: 2rem auto;
    width: 20%;
  }

  // for forum posts + private messages
  blockquote {
    @include type-sans;
    // remove existing styles
    border-left: 0;
    // add styles specific to this piece
    background: rgba(0, 0, 0, .05);
    border-radius: 5px;
    font-size: .9rem;
    margin: 1.5rem;
    padding: .1rem 1rem;

    // inside forum posts, style user who posted
    strong:first-child {
      display: block;
      margin-bottom: .5rem;

      // style moderator tags
      > code {
        @include type-sans;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 3px;
        color: rgba(0, 0, 0, .7);
        display: inline-block;
        font-size: .7em;
        letter-spacing: .5px;
        margin-left: .1rem;
        text-transform: uppercase;
        padding: 0 .3rem;
      }
    }

    // inside forum posts, style username mentions
    strong:not(:first-child) {
      color: rgba(0, 0, 0, .7);

      // add @ before username mentions
      &::before {
        color: rgba(0, 0, 0, .4);
        content: '@';
        font-weight: normal;
      }
    }
  }
}
