body.no-scroll {
  overflow: hidden;
}

.clock-basket-mount {
  margin-bottom: 140px;
}

@media (min-width: 700px) {
  .clock-basket-mount {
    margin-bottom: 300px;
  }
}

.clock-basket-container {
  max-width: 780px;
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .clock-basket-container {
    margin-top: 80px;
  }
}

.story-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 20px;
}

.story {
  position: relative;
  margin: 0px auto;
  max-width: 780px;
  height: 200px;
  text-align: center; 
}

.clock-basket-overlay-container.started .story {
  opacity: 0;
  animation: 1s ease-in-out 1.2s fade-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out-snippet-forward {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(500px);
  }
}

@keyframes slide-in-snippet-forward {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-snippet-backward {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-500px);
  }
}

@keyframes slide-in-snippet-backward {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.snippet {
  top: 60px;
  right: 0px;
  left: 0px;
  position: absolute;
}

.voice-1 {

}

.voice-2 {
  font-style: italic;
}

.snippet.incoming.forward {
  animation: 1.2s ease 0s slide-in-snippet-forward;
  animation-fill-mode: forwards;
}

.snippet.outgoing.forward {
  animation: 1.2s ease 0s slide-out-snippet-forward;
  animation-fill-mode: forwards;
}

.snippet.incoming.backward {
  animation: 1.2s ease 0s slide-in-snippet-backward;
  animation-fill-mode: forwards;
}

.snippet.outgoing.backward {
  animation: 1.2s ease 0s slide-out-snippet-backward;
  animation-fill-mode: forwards;
}

.canvas-container {
  height: calc(100vh - 200px - 100px);
}

@media (min-width: 700px) {
  .canvas-container {
    height: calc(100vh - 160px - 100px);
  }
}

.canvas-wrap {
  width: 100%;
  height: 100%;
}

#main-canvas {
  width: 100%;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttons {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Open Sans';
}

@media (min-width: 700px) {
  .buttons {
    font-size: 24px;
  }
}

.button {
  cursor: pointer;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.story {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.clock-basket-overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0);
  transition: background 1s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.clock-basket-overlay-container.started {
  background: rgba(255, 255, 255, 255);
  pointer-events: all;
  touch-action: none;
}

.overlay-canvas-container {
  position: absolute;
  left: 50%;
  width: 780px;
  transform: translateX(-50%);
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transition: opacity 1s ease;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* Bring it above the clock basket canvas */
}

.clock-basket-overlay-container.started .close-button {
  opacity: 1;
}

a {
  color: black;
  text-decoration: none;
}