{{ define "custom-stylesheet" }}
<link rel="stylesheet" href="{{ (resources.Get "sass/multipage.scss" | resources.ToCSS).Permalink }}">
{{ end }}

{{ define "body-class" }}
grey-background
{{ end }}

{{ define "og" }}
  <meta property="og:title" content="COMPOST Issue 02: {{ .Params.title }} by {{ .Params.author }}" />
  <meta property="og:url" content="https://one.compost.digital{{ .Page.RelPermalink }}" />
  <meta property="og:image" content="https://one.compost.digital{{ .Params.tableOfContentsImageUrl | relURL }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
{{ end }}

{{ define "title" }}
COMPOST Issue 02: {{ .Params.title }} by {{ .Params.author }}
{{ end }}

{{ define "main" }}

  <div class="piece-container main-column {{ .Params.customClass }}">
    {{ $author := index (where .Site.Data.people "name" .Params.author) 0 }}

    {{ if isset .Params "titleimageurl" }}
      <div class="piece-title-image">
        <figure>
          <img src="{{ .Params.titleImageUrl | relURL }}" alt="{{ .Params.titleImageAlt }}">
          <figcaption><p>{{ .Params.titleImageCaption }}</p></figcaption>
        </figure>
      </div>
    {{ end }}

    <h1>{{.Params.title}}</h1>

    {{ if isset .Params "subtitle" }}
      <h2 class="piece-subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}

    <div class="author-name">{{ $author.name }}</div>

    {{/* CELINE: this is where I am using the season param as a class */}}

    <div id="multipage" >
      <div class="frontmatter">
        <div class="season-{{ .Params.season }}"></div>
        {{ if and (isset .Params "post-count") (isset .Params "rank") }}
          <div class="forum-statistics">
            <p class="posts"><span>Posts</span> {{ .Params.Get "post-count" }}</p>
            <p class="rank"><span>Rank</span> {{ .Params.Get "rank" }}</p>
          </div>
        {{ end }}
      </div>

      <div class="content">

        {{ .Content }}

        {{ if isset .Params "links" }}
          <ul class="list-unstyled">
          {{ range .Params.links }}
              <li>
                  <a href="{{.to}}" class="page-link">{{ .text | markdownify }}</a>
              </li>
          {{ end }}
          </ul>
        {{ end }}
      </div>
      {{ partial "multichoice-pagination.html" . }}
    </div>

    {{ if isset .Params "endingimageurl" }}
      <div class="gif-ending">
        <img src="{{ .Params.endingImageUrl | relURL }}" alt="{{ .Params.endingImageAlt }}">
      </div>
    {{ else }}
      <div class="gif-ending">
        <img src="{{ "./images/dividers/bamboo-tiny.gif" | relURL }}" alt="A small stick of bamboo">
      </div>
    {{ end }}

    <div class="bio"><p>{{ $author.bio | markdownify }}</p></div>

    {{ partial "page-navigation.html" . }}

    <!-- Footnotes -->
    <div class="footnotes-container"></div>
    <!-- See baseof.html for mobile-footnotes-container -->

    {{ if isset .Params "footnotesurl" }}
      <script>
        var footnotes = JSON.parse({{ (.Resources.GetMatch .Params.footnotesUrl).Content }})
      </script>
    {{ end }}

    {{ if isset .Params "footnotes" }}
      <script>
        var footnotes = JSON.parse({{ .Params.footnotes | jsonify }})
      </script>
    {{ end }}
  </div>

{{ end }}

{{ define "scripts" }}
  <script src="{{ (resources.Get "js/footnotes.js").RelPermalink }}"></script>
  <script src="{{ (resources.Get "js/celine.js").RelPermalink }}"></script>
{{ end }}
