<footer class="footer-content">
  <div class="footer-column bigger-column">
    <p class="footer-column-header">COMPOST is a magazine about the digital commons.</p>
    <p>Issue 02, September 2021.</p>
    <p>We are a project by
      <a href="https://distributed.press" target="_blank">Distributed Press</a> and hosted by
      <a href="https://hypha.coop" target="_blank">Hypha Worker Co-operative</a>.
    </p>

    <div class="footer-column-header" title="Previous Issues">Previous Issues</div>
    <div><a href="https://one.compost.digital" class="transform-url">Issue 01</a></div>
  </div>
  <div class="footer-column bigger-column">
    <p class="footer-column-header">COMPOST is published to the web and <a href="https://getdweb.net" target="_blank">DWeb</a> using the <a
        href="https://github.com/hyphacoop/api.distributed.press" target="_blank">Distributed Press API</a>.</p>
    <p>Read it on:</p>
    <div><a href="https://two.compost.digital" target="_blank">https://two.compost.digital</a></div>
    <div><a href="https://ipfs.distributed.press/ipns/two.compost.digital/"
        target="_blank">ipns://two.compost.digital</a></div>
    <div><a href="https://hyper.distributed.press/two.compost.digital/" target="_blank">hyper://two.compost.digital</a>
    </div>
    <p>Unless otherwise stated, all content on this website is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International license</a>.</p>
  </div>
  <div class="footer-column">
    <div class="footer-column-header" title="Social Web">Social Web</div>
    <div><a href="https://www.are.na/compost/" target="_blank">Are.na</a></div>
    <div><a href="https://social.coop/@COMPOST" target="_blank">Mastodon</a></div>
    <div><a href="https://www.twitter.com/COMPOSTmag" target="_blank">Twitter</a></div>
    <div><a href="https://github.com/hyphacoop/two.compost.digital" target="_blank">GitHub</a></div>
    <div class="footer-column-header" title="Keep in touch">Keep in touch</div>
    <div><a href="https://link.hypha.coop/compost-newsletter" target="_blank">Join our newsletter</a></div>
    <div><a href="https://github.com/hyphacoop/distributed-press-organizing/wiki" target="_blank">Read our Wiki</a>
    </div>
    <div><a href="mailto:hello@compost.digital">Email us</a></div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header" title="Support Us">Support Us</div>
    <div><a href="{{ "support-us/#web-monetization" | relURL }}">Web Monetization</a></div>
    <div><a href="https://opencollective.com/compost" target="_blank">Open Collective</a></div>
    <div><a href="https://gitcoin.co/grants/1385/compost" target="_blank">Gitcoin</a></div>
    <div><a href="{{ "support-us/" | relURL }}" target="_blank">compostmag.eth</a></div>
  </div>
</footer>
